div(id="hero")
    .container
        .row
            .col-6
                .contenido-hero
                    h2 ¿Que estas buscando?
                        form(action="#" id="busqueda" method="post" class="formulario clase2 clase3")
                            input(type="text" class="u-full-width" placeholder="Buscar" id="buscador")
                            input(type="submit" id="submit-buscador" class="submit-buscador")