extends ../layout/index
block contenido
    include ../layout/includes/buscador
    div 
        h1 Ofertas
        .row
            .col-10.m-auto
                .d-flex.flex-wrap
                    each producto in productos
                        include ../layout/partials/product-card
    